POSTGRES_USER="psicoflow"
POSTGRES_PASSWORD="TROCAR_POR_UMA_SENHA_FORTE"
POSTGRES_DB="psicoflow_db"
PGADMIN_DEFAULT_EMAIL="TROCAR_POR_UM_EMAIL_ADMIN"
PGADMIN_DEFAULT_PASSWORD="TROCAR_POR_UMA_SENHA_FORTE"

DATABASE_URL="postgresql://psicoflow:TROCAR_POR_UMA_SENHA_FORTE@localhost:5432/psicoflow_db?schema=public"
DIRECT_URL="postgresql://psicoflow:TROCAR_POR_UMA_SENHA_FORTE@localhost:5432/psicoflow_db?schema=public"

JWT_SECRET="TROCAR_POR_UM_SEGREDO_FORTE_EM_PRODUCAO"
JWT_EXPIRES_IN="7d"
ADMIN_JWT_SECRET="TROCAR_POR_OUTRO_SEGREDO_FORTE_EM_PRODUCAO"

MP_ACCESS_TOKEN=""
MP_PUBLIC_KEY=""
MP_WEBHOOK_SECRET=""

EVOLUTION_API_URL="http://localhost:8080"
EVOLUTION_API_KEY=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="PsiGen"

UPLOADTHING_TOKEN="TROCAR_PELO_TOKEN_BASE64"

GMAIL_USER="TROCAR_POR_EMAIL_REMETENTE@gmail.com"
GMAIL_APP_PASSWORD="xxxx xxxx xxxx xxxx"

FEATURE_PRONTUARIO_ANEXOS="false"